biopython
Brotli
click
pycurl
dash
dash-core-components
dash-html-components
dash-renderer
dash-table
Flask
Flask-Compress
future
itsdangerous
Jinja2
MarkupSafe
numpy
pandas
plotly
python-dateutil
pytz
retrying
scipy
six
Werkzeug

